.container {
    flex: 1 75%;
    margin: -10px;
}

.noPosts {
    font-size: 40px;
    padding: 10px;
}

.grid {
    display: flex;
    flex-wrap: wrap;
}

.post {
    flex: 0 1 25%;
    max-width: 25%;
    padding: 10px;
    @media (max-width: 1300px) {
        flex: 0 1 50%;
        max-width: 50%;
    }
    @media (max-width: 768px) {
        flex: 0 1 100%;
        max-width: 100%;
    }
}

.invisible {
    background-color: transparent;
    height: 10px;
    width: 100%;
}
